<h1 xmlns="http://www.w3.org/1999/html">Cart</h1>
<a routerLink="/home" class="button">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</a>
<ng-container *ngIf="product.length ==0">
  <h1> Cart is Empty</h1>
</ng-container>
<ng-container>
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of product" class="cart-item">
            <td><img style="width: 100px;" src="{{product.image}}" alt=""></td>
            <td>{{product.name}}</td>
            <td>{{product.price}} $</td>
            <td></td>
            <td>
              <button (click)="removeItem(items)" clas="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td>
              <button routerLink="/home"> Shop More</button>
            </td>
          </tr>
          </tbody>
        </table>
        <td><strong>Total: {{total}}</strong></td>

      </div>
    </div>
  </div>
</ng-container>






