<p>
  <a routerLink="/shipping"> Shipping Prices </a>
</p>

<div class="shipping-item" *ngFor="let shipping of shippingCosts ">
  <span>{{ shipping?.name }}</span>
  <span>{{ shipping?.price }}</span>

</div>
