<div class="b-example-divider"></div>
<div class="container d-flex">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a routerLink="/cart" class="button" id="cart">
            <router-outlet> </router-outlet>
            <mat-icon>add_shopping_cart</mat-icon>
          </a>
        </ul>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a routerLink="/" class="button">
            <button (click)="refresh()">Refresh</button>
          </a>
        </ul>
        <form [formGroup]="form" id="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Kategorija:</mat-label>
            <mat-select>
              <mat-option *ngFor="let category of filterCategory" [value]="category.value" ]>
                {{category.filterCategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput id="input-name" placeholder="Naziv" formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Cena" formControlName="price">
          </mat-form-field>

          <button mat-flat-button color="primary" class='submit-btn' type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>

      </div>
    </div>
  </header>
</div>
