<div class="container">
<!--  <h3>Filteri</h3>-->
<!--  <p>Opcije za kupovinu</p>-->

<!--  <div *ngFor="let price of prices">&ndash;&gt;-->
<!--  <form>-->
<!--    <p>Cena: </p>-->
<!--    <label class="radio-inline">-->
<!--      <input type="radio" name="cena" value="{{price}}" (change)="radioChangeHandler($event)"> <i>{{price}} $</i>-->
<!---->
<!--   </label>-->
<!--  </form>-->
<!--</div>-->

