<h2 style="text-align:center">Svi proizvodi</h2>

<div class="container">
  <div class="row">
  <ng-container *ngFor="let item of items | search: search">
    <div class="card col-md-3">
  <img src="{{item.image}}" alt="/"  style="width:200px;height:200px;">
    <p>Naziv:  {{item?.name}}</p>
    <p><strong>Detail: </strong> {{item?.detail}} </p>
    <p>Kategorija: {{item?.kategorija}}</p>
    <p><strong> Price: {{item?.price}} $</strong></p>
    <p>
    <button (click)="addToCart(item)" >Add to Cart</button>
    </p>
    </div>
  </ng-container>
  </div>
</div>

