.item{
  position: relative;
  max-width: 33%;
  font-family: arial;
  float: right;
  border-style: solid;
  border-width: 10px;
  border-color: white;

}
.item {
  margin: 0px 15px;
  text-align: center;
}
